/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

@use 'sass:string';

// https://vuetifyjs.com/features/sass-variables/`
 @use 'vuetify/settings' with (
  $body-font-family: string.unquote('"Barlow", sans-serif'),
 );
